#Copiez ce fichier dans le ".env" avant d'exécuter le projet 


# MySQL configuration
# ===============================
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=db_paymybuddy
MYSQL_USER=user
MYSQL_PASSWORD=password


# Spring Boot datasource
# ===============================
SPRING_DATASOURCE_URL=jdbc:mysql://paymybuddy-db:3306/db_paymybuddy
SPRING_DATASOURCE_USERNAME=user
SPRING_DATASOURCE_PASSWORD=password
